<nav class="site-navbar navbar navbar-expand-lg">
  <div class="container">
    <a class="site-navbar__brand navbar-brand" href="./index.html">
      <span class="site-navbar__logo-text">Artesania BCN</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Obre la navegació"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="site-navbar__nav-link nav-link" href="./index.html">Portada</a>
        </li>
        <li class="nav-item">
          <a class="site-navbar__nav-link nav-link" href="./ponents.html">Ponents</a>
        </li>
        <li class="nav-item">
          <a class="site-navbar__nav-link nav-link" href="./sobre.html">Sobre les Jornades</a>
        </li>
        <li class="nav-item">
          <a class="site-navbar__nav-link nav-link" href="./programa.html">Programa</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
